.center {
    text-align: center;
  }
  
 
  /*image sizing */
  
  .responsive {
    margin-top: -20px;
    max-width: 100%;
    height: auto;
  }

  .headerpadding{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }